@import "base.css";
@import "carList.css";

.newCar-sidebar{
    height: 60px;
    width: 140px;
    position: fixed;
    top: 50%;
    background-color: #2068a8;
    text-align: center;
}
.newCar-sidebar > a{
    text-decoration: none;
    color: #f2f8fa;
    line-height: 60px;
    padding: 0 5px;
    font-size: 13px;
}
.card{
    position: relative;
}
.info{
    z-index: 0;
}
.edit, .delete{
    box-sizing: border-box;
    border: none;
    position: absolute;
    width: 85px;
    height: 40px;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
}
.edit a, .delete a{
    text-decoration: none;
    font-size: 12px;
    color: #f2f8fa;
}
.edit {
    background: #235094;
    right: 85px;
}

.edit:hover {
    background: #2f6cc9;
}

.delete {
    background: #ba1e1e;
    right: 0;
}

.delete:hover {
    background: #d64242;
}

.popup {
    width: 20%;
    padding: 15px;
    margin: auto 40%;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 15%;
    box-shadow: 5px 5px 5px #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10001;
}

.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.85);
    z-index: 10000;
}
.cancel, .confirm{
    height: 40px;
    width: 85px;
    border-radius: 5px;
    cursor: pointer;
}
.cancel{
    background: #c3cad6;
    color: #000000;
}
.cancel:hover{
    background: #dddddd;
}
.confirm{
    background: #1b5080;
    color: #f2f8fa;
}
.confirm:hover{
    background: #2f6cc9;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

